@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  @apply antialiased bg-primary-black text-primary-white;
}

@layer base {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2ecff inset;
  }
}

@layer components {
  .card {
    @apply flex p-8 bg-primary-white shadow rounded-md;
  }
  .btn-green {
    @apply flex justify-center items-center px-4 py-2 bg-primary-green-dark rounded transition-all duration-100 ease-out;
    &:hover {
      @apply bg-primary-green;
    }
    &:active {
      @apply bg-primary-green-light text-primary-green;
    }
    &:disabled {
      @apply bg-primary-gray text-primary-black pointer-events-none;
    }
  }
}
