@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  @apply antialiased bg-primary-black text-primary-white;
}

@layer base {
  input[type='number'] {
    -moz-appearance: textfield;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2ecff inset;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url('https://api.iconify.design/carbon/chevron-down.svg')
      no-repeat right #ddd;
    background-size: 1rem;
    background-position-x: right 0.25rem;
  }
}

@layer components {
  .modal {
    @apply z-50 fixed inset-0 flex flex-col items-center p-4 bg-primary-black/80 overflow-y-auto;
  }
  .card {
    @apply flex p-4 bg-primary-white shadow rounded-md;
  }
  .btn-gray {
    @apply flex justify-center items-center px-4 py-2 bg-primary-gray rounded transition-all duration-100 ease-out;
    &:hover {
      @apply bg-primary-gray-light;
    }
    &:active {
      @apply bg-primary-gray-dark text-primary-gray;
    }
    &:disabled {
      @apply bg-primary-gray text-primary-black pointer-events-none;
    }
  }
  .btn-green {
    @apply flex justify-center items-center px-4 py-2 bg-primary-green-dark rounded transition-all duration-100 ease-out;
    &:hover {
      @apply bg-primary-green;
    }
    &:active {
      @apply bg-primary-green-light text-primary-green;
    }
    &:disabled {
      @apply bg-primary-gray text-primary-black pointer-events-none;
    }
  }
  .btn-blue {
    @apply flex justify-center items-center px-4 py-2 bg-primary-blue-dark rounded transition-all duration-100 ease-out;
    &:hover {
      @apply bg-primary-blue;
    }
    &:active {
      @apply bg-primary-blue-light text-primary-blue;
    }
    &:disabled {
      @apply bg-primary-gray text-primary-black pointer-events-none;
    }
  }
  .btn-red {
    @apply flex justify-center items-center px-4 py-2 bg-primary-red-dark rounded transition-all duration-100 ease-out;
    &:hover {
      @apply bg-primary-red;
    }
    &:active {
      @apply bg-primary-red-light text-primary-red;
    }
    &:disabled {
      @apply bg-primary-gray text-primary-black pointer-events-none;
    }
  }
  .masonry {
    @apply columns-1 sm:columns-2 md:columns-3 lg:columns-4;
  }
}
